<!doctype html>
<html lang="en">
	<head>
		<title>O'Reilly Introduction to WebRTC</title>
		<link rel="stylesheet" type="text/css" href="styles.css">
	</head>
	<body>
		<div id="cameraSelector">
				Video: <select id="camera"></select>
			</div>
			<p><button id="takeProfilePicture" type="button" autofocus="true">Create Profile Picture</button></p>
			<video id='videoTag' autoplay></video>
			<canvas id='profilePicCanvas' style='display: none'></canvas>
			<div>
				<img id='profilePictureOutput'>
			</div>
			<script>
				// navigator.mediaDevices.getUserMedia = navigator.getUserMedia ||
				// navigator.webkitGetUserMedia ||
				// navigator.mozGetUserMedia;
				let videoSelect = document.querySelector('#camera');
				let videoArea = document.querySelector('video');
				var profilePicCanvas = document.querySelector("#profilePicCanvas");
				var profilePictureOutput = document.querySelector("#profilePictureOutput");
				var takePicButton = document.querySelector("#takeProfilePicture");
				var videoTag = document.querySelector("#videoTag");
				
				var width = 540; //Desired width of the profile picture
				var height = 0; //Calculated later based on image ratio
				var streaming = false; //Used to determine when the video has loaded
				
				takePicButton.addEventListener('click', function(ev){
					takeProfilePic();
					ev.PreventDefault();
				}, false);

				videoTag.addEventListener('canplay', function(ev){
				if (!streaming) {
					height = videoTag.videoHeight / (videoTag.videoWidth/width);
					
						// Firefox currently has a bug where the height can't be read from
						// the video, so we will make assumptions if this happens.

						if (isNaN(height)) {
							height = width / (4/3);
						}
					
						videoTag.setAttribute('width', width);
						videoTag.setAttribute('height', height);
						profilePicCanvas.setAttribute('width', width);
						profilePicCanvas.setAttribute('height', height);
						profilePicCanvas.style.filter = 'saturate(0.03)'
						streaming = true;
					}
				}, false);
				
				function takeProfilePic() {
					var context = profilePicCanvas.getContext('2d');
					if (width && height) {
						profilePicCanvas.width = width;
						profilePicCanvas.height = height;
						context.drawImage(videoTag, 0, 0, width, height);

						var data = profilePicCanvas.toDataURL('image/png');
						profilePictureOutput.setAttribute('src', data);
						profilePictureOutput.style.filter = 'saturate(0.03)'
					}
				}
				
				navigator.mediaDevices.enumerateDevices()
				.then(sourceInfo => {
					getCameras(sourceInfo)
				})
				videoSelect.onchange = startStream;
				
				startStream();
				
				// List down the camera sources available
				function getCameras(sourceInfos) {
					for (var i = 0; i !== sourceInfos.length; ++i) {
						var sourceInfo = sourceInfos[i];
						var option = document.createElement('option');
						option.value = sourceInfo.deviceId;
						if (sourceInfo.kind === 'videoinput') {
							option.text = sourceInfo.label || 'camera ' + (videoSelect.length + 1);
							videoSelect.appendChild(option);
						}
					}
				}

				function startStream() {
					let videoSource = videoSelect.value;
					let constraints = {
						audio: false,
						video: {
							mandatory: {
								minWidth: 640,
								maxWidth: 640,
								minHeight: 360,
								maxHeight: 480
							},
							optional: [{
								sourceId: videoSource
							}]
						}
					}


					navigator.mediaDevices.getUserMedia(constraints)
					.then(stream => {
						console.log('Success! We have a stream!', stream);
						videoArea.srcObject = stream;
						videoArea.className = 'grayscale_filter';
						videoArea.play();
					})
					.catch(error => {
						console.log('Error with getUserMedia: ',error)
					})
				}
			</script>
	</body>
</html>